# Q1: 將以下問卷資料的職業(Profession) 欄位缺失值填入字串 'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合？為什麼？

In [2]:
import pandas as pd 
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], 
                     ['female', None], ['female', 'engineer']], columns=['Sex','Profession'])

In [3]:
q_df.fillna('others')

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [ ]:
- 因為是一般性資料，用get_dummies()即可

In [4]:
df_encode = pd.get_dummies(q_df)
df_encode

   Sex_female  Sex_male  Profession_engineer  Profession_teacher
0           0         1                    0                   1
1           0         1                    1                   0
2           1         0                    0                   0
3           1         0                    1                   0